body {
  background: radial-gradient(ellipse at center, rgba(0, 153, 255, 0.599), white);
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  z-index: 2;
  height: 45px;
  width: 100%;
  background: rgb(38, 38, 38);
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  border-bottom: 1px solid rgb(255, 0, 0);
}

.nav {
  padding-left: 20px;
  background-color: transparent;
  margin-top: 6px;
  font-size: 25px;
  border: none;
  color: white;
  border-bottom: none;
  text-decoration: none;
}

.nav:hover {
  color: rgba(255, 192, 203, 0.868);
  cursor: pointer;
  text-decoration: underline;
}

.intro {
  position: relative;
  top: 60px;
  width: 65%;
  margin: 0 auto; /* Center align */
  text-align: center;
}

.intro a {
  color: rgba(5, 5, 134, 0.647);
  font-family: "Times New Roman";
  transition: transform 0.3s ease;
}

.intro h6 {
  font-size: 23px;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  color: rgba(52, 52, 52, 0.765);
}

.introHeader {
  top: 20px;
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 65px;
  color: rgb(31, 31, 31);
  text-align: center;
}

.promotional-container {
  position: relative;
  color: black;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.629);
  margin: 0 auto 20px auto; 
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.735);
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promotional-container p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.video {
  text-align: center;
  margin: 5px;
}

.news-header {
  color: black;
  text-align: center;
  font-size: 24px;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin: 15px 0;
  text-align: center;
}

.article {
  display: flex;
  flex-direction: row;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.735);
  transition: transform 0.3s, box-shadow 0.3s;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 13px;
  align-items: center;
  width: 80%;
}

.article a {
  text-decoration: underline;
  color: black;
  padding: 15px;
}

.article:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.container {
  position: relative;
  width: 65%;
  display: flex;
  align-items: flex-start; 
  flex-direction: row;
  justify-content: space-between; 
  flex-wrap: nowrap;
  padding: 30px 0; 
  margin-top: 60px;
}

.container .card-container {
  width: 60%; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container .promotional-container-wrapper {
  width: 35%; 
  display: flex;
  justify-content: center;
}

.card {
  position: relative;
  max-width: 200px;
  height: 175px;
  background-color: #fff1f1;
  margin: 30px 5px; 
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}

.card:hover {
  height: 280px;
  max-width: 350px;
}

.card .image {
  position: relative;
  width: 260px;
  height: 275px;
  top: -40%;
  left: 8px;
  z-index: 1;
}

.card .image img {
  max-width: 100%;
  border-radius: 15px;
}

.card .content {
  position: relative;
  top: -140px;
  padding: 10px 15px;
  color: #111;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card:hover .content {
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

@media (max-width: 768px) {
  .introHeader {
    margin-top: 10px;
  }

  .intro {
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    top: 20px;
  }

  .intro h6 {
    font-size: 15px;
  }

  .introHeader {
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
  }

  .container {
    flex-direction: column;
    width: 100%;
    left: 20px;
    padding: 10px;
    margin-top: 0; 
  }

  .container .card-container,
  .container .promotional-container-wrapper {
    width: 100%; 
    margin-top: 20px;
  }

  .card {
    width: 220px;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 250px;
  }

  .card .image {
    width: 220px;
    left: 40px;
  }

  .card .content {
    padding: 5px 10px;
  }

  .card:hover .content {
    margin-top: 20px;
  }

  .promotional-container {
    width: 100%;
    margin-top: 20px;
  }

  .video iframe {
    width: 230px;
    height: auto;
  }

  .article-container {
    flex-direction: row;
    width: 330px;
  }

  .article {
    font-size: 12px;
  }

  .article a {
    text-decoration: none;
  }
  .mainpage-container {
    flex-direction: row;
    padding: 10px;
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    gap: 10px; 
  }
}
